.Checkoutproduct {
    display: flex;
    margin: 20px 0;
}

.Checkoutproduct__info {
    padding-left: 20px;
}

.Checkoutproduct__info>button {
    background-color: #f0c14b;
    border: 1px solid;
    margin: 10px 0 0 0;
    color: #111;
}

.Checkoutproduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.Checkoutproduct__rating {
    display: flex;
}

.Checkoutproduct__title {
    font-weight: 800;
    font-size: 18px;
}