.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login__container {
    border: 1px solid #000;
    padding: 20px 100px;
}

h5 {
    margin: 0px 0px 5px;
}

input {
    display: block;
    margin: 0 0 10px;
}

button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: #e9b531;
    border: none;
}